<div class="container justify-center">
  <div class="form">
  <div class="d-flex justify-content-center p-4">
    <h2>Update info</h2>
  </div>

  <div class="input">
    <%= simple_form_for (@pet) do |p| %>
    <%= p.input :name, placeholder: 'Name' %>
    <%= p.input :species, collection: Pet::SPECIES_FILTER, selected: 'Cat' %>
    <%= p.input :breed, placeholder: 'Breed', collection: Pet::DOG_BREED, input_html: { id: :dog_breeds, class: "pet_selection" } %>
    <%= p.input :breed, placeholder: 'Breed', label: false, collection: Pet::CAT_BREED, input_html: { id: :cat_breeds } %>
    <%= p.input :birthdate, as: :date, placeholder: 'Birthdate' %>
    <%= p.input :weight, as: :integer, placeholder: 'Kg' %>
    <%= p.input :location, placeholder: 'Location' %>
    <%= p.input :image, as: :file, required: false %>

      <div class="form-actions">
        <div class="row justify-content-center">
          <div class="col-2 d-flex justify-content-center">
            <%= p.submit 'Add this pet ðŸ¶', class: "button-form" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
