<h2 class="mb-4 text-center"><strong>Your pet's profile</strong></h2>
<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-start">
    <div>
      <% if @pet.image.attached? %>
        <%= cl_image_tag @pet.image.key, class: "show-img" %>
      <% end %>
    </div>

    <div class="ml-5">
      <h1><strong> <%= @pet.name.capitalize %></strong></h1>
      <h3><%= @pet.breed %></h3>
      <h3 style="color: #809C53"><strong>Alive</strong></h3>
      <h4><%= @pet.weight %> kg</h4>
      <h5 style="color: #A5A5A5">Born <%= @pet.birthdate %></h5>
    </div>

    <div>
      <i class="far fa-bell big"></i>
    </div>
  </div>
</div>

    <h4 class="mt-4"><strong>Breed description</strong></h4>
    <%= @description %>
