<div class="pl-2">
  <h2><strong>Welcome back, <%= current_user.name.capitalize %>!</strong></h2>
  <h5>Here are your latest additions</h5>
</div>
<div class="cards">
    <% if current_user.pets.empty? %>
        <%= "You have no pets yet!" %>
    <% else %>

        <% current_user.pets.last(1).each do |p| %>
            <%= link_to pet_path(p) do %>
                  <div class="card">
                    <div class="row">
                      <div class="col-8">
                        <% if p.image.attached? %>
                          <%= cl_image_tag p.image.key %>
                        <% else %>
                          <%= "No image" %>
                        <% end %>
                      </div>
                      <div class="col-4">
                        <div class="h-100 d-flex justify-content-between flex-column">
                          <div class="d-flex justify-content-between">
                            <div class="icons pt-4">
                              <div class="pr-2"><i class="fas fa-utensils"></i></div>
                              <div class="pr-2"><i class="fas fa-briefcase-medical"></i></div>
                              <div class="pr-2"><i class="fas fa-soap"></i></div>
                            </div>
                            <div class="icons pt-4 pr-4">
                              <i class="far fa-bell"></i>
                            </div>
                          </div>
                          <div class="name-and-breed pb-4">
                              <h3><strong><%= p.name %></strong></h3>
                              <h6 style="font-size: 1.2rem;"> <%= p.breed %> </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <% end %>
    <% end %>
  <% end %>


    <% if current_user.plants.empty? %>
        <%= "You have no plants yet!" %>
    <% else %>
    <% current_user.plants.last(1).each do |p| %>
    <%= link_to plant_path(p) do %>
            <div class="card">
                    <div class="row">
                      <div class="col-8">
                          <% if p.image.attached? %>
                            <%= cl_image_tag p.image.key %>
                          <% else %>
                            <%= "No image" %>
                          <% end %>
            </div>
            <div class="col-4">
                <div class="h-100 d-flex justify-content-between flex-column">
                  <div class="d-flex justify-content-between">
                    <div class="icons pt-4">
                      <i class="fas fa-tint"></i>
                    </div>
                      <div class="icons pt-4 pr-4">
                      <i class="far fa-bell"></i>
                    </div>
                  </div>
                <div class="name-and-breed pb-4">
                  <h3><strong> <%= p.nickname %></strong></h3>
                  <h6 style="font-size: 1.2rem;"> <%= p.species %></h6>
                </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <% end %>
    <% end %>
  <% end %>
  </div>
