<div class="container justify-center">
  <div class="form">
  <div class="d-flex justify-content-center p-4">
    <h2>New Plant</h2>
  </div>

<div class="input">
<%= simple_form_for (@plant) do |p| %>
<%= p.input :nickname, placeholder: 'Nickname' %>
<%= p.input :location, placeholder: 'Location' %>
<%= p.input :species, collection: Plant::SPECIES %>
<%= p.input :image, as: :file, required: false %>
</div>
<div class="form-actions">
  <div class="row justify-content-center">
    <div class="col-2 d-flex justify-content-center">
      <%= p.submit 'Create a plant 🌱', class: "button-form" %>
    </div>
</div>

<% end %>
</div>
</div>
</div>
