<h2 class="mb-4"><strong>Your plant's profile</strong></h2>
<div>
  <% if @plant.image.attached? %>
    <%= cl_image_tag @plant.image.key, class: "show-img" %>
  <% end %>
</div>

<div class="show-main-card d-flex justify-content-between">
      <div class="id">
        <h1><strong> <%= @plant.nickname.capitalize %></strong></h1>
        <h3><%= @plant.species %></h3>
        <h4 style="color: #809C53"><strong>Alive</strong></h4>
      </div>
        <div class="d-flex flex-column align-items-end justify-content-between">
          <div class="p-2">
            <%= link_to edit_plant_path(@plant) do %>
             <i class="far fa-bell big" style="font-size: 1.2rem;"></i>
            <% end %>
          </div>
          <div class="d-flex align-items-end flex-column">
          </div>
      </div>
    </div>

<% this_plant = {}  %>
<%  plant_file = File.read('./app/assets/plantdb/data.json') %>
<%  plants = JSON.parse(plant_file) %>
<% plants["alphabetList"]["glossaryItems"].each do |result| %>
<% this_plant = result if result["primaryName"] == @plant.species %>
<% end %>
<% url = this_plant["url"]  %>
<% plant_description_string = RestClient.get(url).body  %>
<% html_doc = Nokogiri::HTML(plant_description_string)  %>
<% description = html_doc.search('#mntl-sc-block_1-0').text.strip  %>

<div class="row">
  <div class="col-6 nopaddinga">
       <img class="img-breed" src=<%= this_plant["imageUrl"] %> />
  </div>
  <div class="col-6 nopaddingb">
    <div class="breed-card">
      <div class="breed-content"> <%= description %> </div>
    </div>
  </div>
</div>


